# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
      - uses: actions/checkout@v2
      
      - name: Download test data
        shell: bash -el {0}
        run: |
          curl -L https://github.com/rob-luke/BIDS-NIRS-Tapping/archive/00-Raw-data.zip --output data.zip
          pwd
          unzip data.zip -d ~/example_data
          ls
          
      - uses: actions/setup-python@v1

      - uses: BSFishy/pip-action@v1
        with:
          packages: |
            boutiques
  
#       - name: Search
#         run: bosh search fNIRS
  
#       - name: Search
#         run: bosh search 'fNIRS Apps Sourcedata to BIDS'
  
#       - name: Search
#         run: bosh search 'fNIRS Apps Sourcedata to BIDS' | tail -n 1
  
#       - name: Search
#         run: bosh search 'fNIRS Apps Sourcedata to BIDS' | tail -n 1 | awk '{print $1;}'
  
#       - name: Set env
#         run: echo "GITHUB_SHA_SHORT=$(bosh search 'fNIRS Apps Sourcedata to BIDS' | tail -n 1 | awk '{print $1;}')" >> $GITHUB_ENV

#       - name: Test
#         run: echo $GITHUB_SHA_SHORT          
        
      - name: Run convert to BIDS
        run: bosh exec launch zenodo.5112758 01-raw-data-to-bids.json --debug -v /home/runner/example_data/BIDS-NIRS-Tapping-00-Raw-data/:/bids_dataset
        
        
        
        
